#!/bin/bash

strict_env

# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

# See https://taskfile.dev/docs/experiments/gentle-force
export TASK_X_GENTLE_FORCE=1

# See https://taskfile.dev/docs/experiments/env-precedence
export TASK_X_ENV_PRECEDENCE=1
